/* Variable Initialization */
html {
    --header-bg-color: #669999;
    --header-height: 3em;
    --footer-bg-color: #669999;
    --footer-height: 3em;
    --menu-primary-color: #000000;
    --menu-secondary-color: #669999;
    --menu-bar-size: 19%;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Other */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

/* Header & Footer */
.headfoot {
    z-index: 1;
    position: fixed;
    width: 100%;
}

/* Header */
#header {
    height: var(--header-height);
    top: 0;
    background-color: var(--header-bg-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#title {
    float: left;
    padding-top: calc((var(--header-height) - 1em) / 2);
    padding-left: 1em;
}

#menu {
    float: right;
    height: 1em;
    width: 2em;
    margin: calc((var(--header-height) - 1em) / 2);
}

.bar {
    position: relative;
    height: var(--menu-bar-size);
}

.bar.primary {
    background-color: var(--menu-primary-color);
}

.bar.secondary {
    background-color: var(--menu-secondary-color);
}

/* Content */
#content {
    position: absolute;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    width: 100%;
    padding: 1em;
}

#content h1 {
    text-align: center;
}

#content p {
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Footer */
#footer {
    height: var(--footer-height);
    bottom: 0;
    background-color: var(--footer-bg-color);
    padding-top: calc((var(--header-height) - 1em) / 2);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Responsive Design */
/* Tablet */
