html {
    --sidebar-width: 200px;
    --footer-height: 50px;
    --footer-whitespace-height: 10px;
    --primary-bg-color: #669999;
    --primary-whitespace-color: #FFFFFF;
    --primary-link-color: #000000;
    --secondary-link-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: calc(100% - var(--footer-height));
    background: var(--primary-bg-color);
    text-align: center;
    padding: 10px;
}

#content {
    position: absolute;
    height: calc(auto - var(--footer-height));
    margin-left: var(--sidebar-width);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: calc(var(--footer-height) + var(--footer-whitespace-height));
}

#footerwhitespace {
    position: fixed;
    height: var(--footer-whitespace-height);
    width: calc(100% - var(--sidebar-width));
    background: var(--primary-whitespace-color);
    left: var(--sidebar-width);
    bottom: var(--footer-height);
}

#footer {
    position: fixed;
    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    background: var(--primary-bg-color);
    text-align: center;
    padding-top: calc(var(--footer-height) / 3);
    padding-bottom: calc(var(--footer-height) / 3);
}

/* Changing the default look and feel of anchor tags */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--primary-link-color);
}

a:hover, a:active {
    color: var(--secondary-link-color);
}
