/* CSS Variables */
html {
    --primary-header-bg-color: #669999;
    --primary-header-color: #000000;
    --primary-footer-bg-color: #669999;
    --primary-link-color: #000000;
    --secondary-link-color: #FFFFFF;
    --header-height: 3em;
    --footer-height: 3em;
}

/* Changing default initial css properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
#header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 1em;
    background: var(--primary-header-bg-color);
    color: var(--primary-header-color)
}

#title {
    float: left;
}

#menu {
    float: right;
}

/* Main Content */
#content {
    position: absolute;
    margin-top: calc(var(--header-height) + 1em);
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: calc(var(--footer-height) + 1em);
}

#home, #blog, #contact {
    padding-top: calc(var(--header-height) + 1em);
    margin-top: calc((var(--footer-height) + 1em) * -1);
}

#clearcontent {
    margin-bottom: calc((var(--footer-height)) * -1);
}

/* Footer */
#footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    padding: 1em;
    background: var(--primary-footer-bg-color);
    color: var(--primary-footer-color);
}

#signature {
    float: left;
}

#socialmedia {
    float: right;
}

/* Used for clearing the float properties of containers */
.clear {
    clear: both;
}

/* Changing the default look and feel of anchor tags */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--primary-link-color);
}

a:hover, a:active {
    color: var(--secondary-link-color);
}

/* Add a bottom margin to a few tags */
p {
    margin-top: 1em;
    margin-bottom: 3em;
}

/* Screen size media queries */
@media (max-width:641px) {
    #content {
        margin-left: 1.5em;
        margin-right: 1.5em;
        font-size: 150%;
    }
}
